.settings_page_lexity-live-for-wpsc-settings .form-buttons {
	margin-top: 1.5em;
}
.settings_page_lexity-live-for-wpsc-settings .form-buttons .button-primary {
	margin: 0 1em 0 230px;
}
.settings_page_lexity-live-for-wpsc-settings #lexity-admin-embed {
	width: 1024px;
	min-height: 800px;
}
